/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --jiw-col-text-primary: hsla(180%, 5%, 8%, 1);
  --jiw-col-text-secondary: hsla(180%, 5%, 31%, 1);
  --jiw-col-text-disabled: hsla(170%, 5%, 53%, 1);
  --jiw-col-text-inverse: hsla(0%, 0%, 100%, 1);
  --jiw-col-text-inverse-disabled: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-text-in-text-link-primary: hsla(180%, 5%, 8%, 1);
  --jiw-col-text-in-text-link-primary-hover: hsla(170%, 100%, 17%, 1);
  --jiw-col-text-in-text-link-secondary: hsla(180%, 5%, 31%, 1);
  --jiw-col-text-in-text-link-secondary-hover: hsla(170%, 100%, 17%, 1);
  --jiw-col-text-in-text-link-inverse: hsla(0%, 0%, 100%, 1);
  --jiw-col-text-in-text-link-inverse-hover: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-text-action-primary: hsla(0%, 0%, 100%, 1);
  --jiw-col-text-action-primary-hover: hsla(0%, 0%, 100%, 1);
  --jiw-col-text-action-primary-disabled: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-text-action-secondary: hsla(180%, 5%, 8%, 1);
  --jiw-col-text-action-secondary-hover: hsla(180%, 5%, 8%, 1);
  --jiw-col-text-action-secondary-disabled: hsla(170%, 5%, 53%, 1);
  --jiw-col-text-action-destructive: hsla(5%, 74%, 35%, 1);
  --jiw-col-text-action-destructive-hover: hsla(5%, 74%, 35%, 1);
  --jiw-col-text-action-destructive-disabled: hsla(5%, 97%, 71%, 1);
  --jiw-col-text-success: hsla(170%, 100%, 17%, 1);
  --jiw-col-text-warning: hsla(34%, 76%, 29%, 1);
  --jiw-col-text-error: hsla(5%, 74%, 35%, 1);
  --jiw-col-text-info: hsla(180%, 5%, 8%, 1);
  --jiw-col-link: hsla(170%, 100%, 17%, 1);
  --jiw-col-surface-page: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-primary-container: hsla(0%, 0%, 100%, 1);
  --jiw-col-surface-on-primary-container: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-secondary-container: hsla(170%, 100%, 17%, 1);
  --jiw-col-surface-on-secondary-container: hsla(170%, 80%, 22%, 1);
  --jiw-col-surface-tertiary-container: hsla(160%, 6%, 90%, 1);
  --jiw-col-surface-on-tertiary-container: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-success: hsla(156%, 24%, 96%, 1);
  --jiw-col-surface-on-success: hsla(154%, 49%, 90%, 1);
  --jiw-col-surface-warning: hsla(57%, 83%, 95%, 1);
  --jiw-col-surface-on-warning: hsla(58%, 90%, 88%, 1);
  --jiw-col-surface-error: hsla(5%, 86%, 97%, 1);
  --jiw-col-surface-on-error: hsla(6%, 100%, 94%, 1);
  --jiw-col-surface-info: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-on-info: hsla(160%, 6%, 90%, 1);
  --jiw-col-surface-action-primary: hsla(170%, 100%, 17%, 1);
  --jiw-col-surface-action-primary-hover: hsla(170%, 100%, 13%, 1);
  --jiw-col-surface-action-primary-active: hsla(170%, 100%, 13%, 1);
  --jiw-col-surface-action-primary-focus: hsla(170%, 100%, 17%, 1);
  --jiw-col-surface-action-primary-selected: hsla(170%, 100%, 17%, 1);
  --jiw-col-surface-action-primary-disabled: hsla(170%, 100%, 17%, 1);
  --jiw-col-surface-action-secondary: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-action-secondary-hover: hsla(160%, 6%, 90%, 1);
  --jiw-col-surface-action-secondary-active: hsla(160%, 6%, 90%, 1);
  --jiw-col-surface-action-secondary-focus: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-action-secondary-selected: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-action-secondary-disabled: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-action-tertiary: hsla(0%, 0%, 100%, 0);
  --jiw-col-surface-action-tertiary-hover: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-action-tertiary-active: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-action-tertiary-focus: hsla(0%, 0%, 100%, 0);
  --jiw-col-surface-action-tertiary-selected: hsla(180%, 5%, 96%, 1);
  --jiw-col-surface-action-tertiary-disabled: hsla(0%, 0%, 100%, 0);
  --jiw-col-surface-action-inverse: hsla(0%, 0%, 100%, 1);
  --jiw-col-surface-action-inverse-hover: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-surface-action-inverse-active: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-surface-action-inverse-focus: hsla(0%, 0%, 100%, 1);
  --jiw-col-surface-action-inverse-selected: hsla(0%, 0%, 100%, 0.9);
  --jiw-col-surface-action-inverse-disabled: hsla(0%, 0%, 100%, 1);
  --jiw-col-surface-action-destructive: hsla(5%, 86%, 97%, 1);
  --jiw-col-surface-action-destructive-hover: hsla(6%, 100%, 94%, 1);
  --jiw-col-surface-action-destructive-active: hsla(6%, 100%, 94%, 1);
  --jiw-col-surface-action-destructive-focus: hsla(5%, 86%, 97%, 1);
  --jiw-col-surface-action-destructive-selected: hsla(6%, 100%, 94%, 1);
  --jiw-col-surface-action-destructive-disabled: hsla(5%, 86%, 97%, 1);
  --jiw-col-surface-dimmer: hsla(180%, 5%, 8%, 0.8);
  --jiw-col-link-hover: hsla(170%, 100%, 13%, 1);
  --jiw-col-link-inverse: hsla(0%, 0%, 100%, 1);
  --jiw-col-link-inverse-hover: hsla(0%, 0%, 100%, 0.9);
  --jiw-col-border-primary: hsla(168%, 5%, 82%, 1);
  --jiw-col-border-secondary: hsla(160%, 6%, 90%, 1);
  --jiw-col-icon-default: hsla(170%, 6%, 20%, 1);
  --jiw-col-icon-disabled: hsla(170%, 5%, 53%, 1);
  --jiw-col-icon-inverse: hsla(0%, 0%, 100%, 1);
  --jiw-col-icon-inverse-disabled: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-icon-action-primary: hsla(0%, 0%, 100%, 1);
  --jiw-col-icon-action-primary-hover: hsla(0%, 0%, 100%, 1);
  --jiw-col-icon-action-primary-disabled: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-icon-action-secondary: hsla(180%, 5%, 8%, 1);
  --jiw-col-icon-action-secondary-hover: hsla(180%, 5%, 8%, 1);
  --jiw-col-icon-action-secondary-disabled: hsla(170%, 5%, 53%, 1);
  --jiw-col-border-success: hsla(154%, 49%, 90%, 1);
  --jiw-col-border-warning: hsla(58%, 90%, 88%, 1);
  --jiw-col-border-error: hsla(6%, 100%, 94%, 1);
  --jiw-col-border-info: hsla(160%, 6%, 90%, 1);
  --jiw-col-border-action-primary: hsla(168%, 5%, 82%, 1);
  --jiw-col-border-action-primary-hover: hsla(180%, 5%, 8%, 1);
  --jiw-col-border-action-primary-active: hsla(180%, 5%, 8%, 1);
  --jiw-col-border-action-primary-focus: hsla(170%, 100%, 17%, 1);
  --jiw-col-border-action-primary-selected: hsla(168%, 5%, 82%, 1);
  --jiw-col-border-action-primary-error: hsla(5%, 74%, 35%, 1);
  --jiw-col-border-action-primary-disabled: hsla(168%, 5%, 82%, 1);
  --jiw-col-divider-light: hsla(160%, 6%, 90%, 1);
  --jiw-col-divider-strong: hsla(168%, 5%, 82%, 1);
  --jiw-col-divider-inverse: hsla(0%, 0%, 100%, 0.5);
  --jiw-col-icon-action-destructive: hsla(5%, 74%, 35%, 1);
  --jiw-col-icon-action-destructive-hover: hsla(5%, 74%, 35%, 1);
  --jiw-col-icon-action-destructive-disabled: hsla(5%, 97%, 71%, 1);
}